openapi: 3.0.1
info:
  title: Todos API
  version: 1.0.0
servers:
- url: https://todo-api-hazel.vercel.app/api
paths:
  /todos:
    get:
      operationId: getTodos
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/todo'
                type: array
          description: OK
        "500":
          description: Internal Server Error
      summary: Find All Todos
    post:
      operationId: createTodo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/todo'
        description: new todo
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/todo'
          description: Created
        "400":
          description: Bad Request
        "500":
          description: Server Error
      summary: Add Todo
  /todos/{id}:
    delete:
      operationId: deleteTodo
      parameters:
      - description: Todo Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/todo'
          description: OK
        "409":
          description: Conflict
        "500":
          description: Server Error
      summary: Delete Todo By Id
    get:
      operationId: getTodoById
      parameters:
      - description: Todo Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/todo'
          description: OK
        "409":
          description: Conflict
        "500":
          description: Server Error
      summary: Find Todo By Id
    put:
      operationId: updateTodo
      parameters:
      - description: Todo Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/todo'
        description: todo data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/todo'
          description: OK
        "400":
          description: Bad Request
        "409":
          description: Conflict
        "500":
          description: Server Error
      summary: Update Todo By Id
components:
  schemas:
    todo:
      example:
        description: description
        id: 0
        title: title
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
      required:
      - title
      type: object
